html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 600px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
}

@media only screen and (max-width: 700px) {
  .app__videos {
    height: 500px;
  }
}

.app__videos::-webkit-scrollbar {
  display: none;
}
