.videoFooter {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
}

@media only screen and (max-width: 700px) {
  .videoFooter {
    margin-left: 8px;
    font-size: 14px;
  }
  .videoFooter__ticker {
    width: 70%;
  }
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__text > p {
  padding-bottom: 20px;
}

.videoFooter__text > h3 {
  padding-bottom: 20px;
}

.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 50%;
}

.videoFooter__ticker > h1 {
  padding-top: 7px;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 70px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}

@media only screen and (max-width: 700px) {
  .videoFooter__record {
    height: 50px;
    right: 10px;
  }
}
